<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Hello! user">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>


    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css'>

    <link rel="stylesheet" href="./profile.css">
    <script class="u-script" type="text/javascript" src="/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.20.4, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">



    <link rel="stylesheet" href="./updatepic.css">
    <link rel="stylesheet" href="/nicepage.css" media="screen">
    <link rel="stylesheet" href="./profile.css">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "",
            "logo": "images/default-logo.png"
        }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">





</head>

<body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-addb">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <a href="" class="u-image u-logo u-image-1">
                <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-unstyled u-nav-1">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/money" style="padding: 10px 20px;">money</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/auth/logout" style="padding: 10px 20px;">signout</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 20px;">Home</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/money" style="padding: 10px 20px;">money</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/auth/logout" style="padding: 10px 20px;">signout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
        </div>
    </header>
    <section class="u-align-center u-clearfix u-white u-section-1" id="carousel_8d91">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-2-base u-text-1">Hello!
                <%=user.nameWI%>
            </h1>
            <%=  %>
                <div class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-palette-2-base u-radius-20 u-shape-round u-group-1">
                    <div class="u-container-layout u-container-layout-1">
                        <a class="u-border-none u-btn u-button-style u-hover-black u-palette-2-light-1 u-btn-1" id="editProfile">✎ fsf edit</a>
                        <h6 class="u-custom-font u-font-open-sans u-text u-text-default u-text-2">name</h6>
                        <p class="u-custom-font u-text u-text-3">
                            <%=user.name%>
                        </p>
                        <h6 class="u-custom-font u-font-open-sans u-text u-text-default u-text-4">Birthday</h6>
                        <p class="u-custom-font u-text u-text-5">
                            <%=user.dateOfBirth%>
                        </p>
                        <h6 class="u-custom-font u-font-open-sans u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-6">email</h6>
                        <p class="u-custom-font u-text u-text-7">
                            <%=user.Email%>
                        </p>
                        <h6 class="u-custom-font u-font-open-sans u-text u-text-8">location</h6>
                        <p class="u-custom-font u-text u-text-9">
                            <%=user.city%>
                        </p>
                        <h6 class="u-custom-font u-font-open-sans u-text u-text-default u-text-10">gender</h6>
                        <p class="u-custom-font u-text u-text-11">
                            <%=user.gender%>
                        </p>
                        <h6 class="u-custom-font u-font-open-sans u-text u-text-12">department</h6>
                        <p class="u-custom-font u-text u-text-13">
                            <%=user.department%>
                        </p>
                        <h6 class="u-custom-font u-font-open-sans u-text u-text-14">batch</h6>
                        <p class="u-custom-font u-text u-text-15">
                            <%=user.batch%>
                        </p>
                    </div>
                </div>
                <img class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-round u-radius-20 u-image-1" alt="" data-image-width="700" data-image-height="700" src="images/<%=user.ID%>.png">
                <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-container-layout-2">
                                <p class="u-text u-text-default u-text-palette-1-dark-2 u-text-16"> last month income</p>
                                <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-2-base u-text-17" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">108</h3>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-container-layout-3">
                                <p class="u-text u-text-default u-text-palette-1-dark-2 u-text-18"> last month outcome</p>
                                <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-2-base u-text-19" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">150</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-toggle="modal" data-target="#modal_upload" class="u-border-none u-btn u-button-style u-hover-black u-palette-2-light-1 u-btn-2" id="editProfile2">✎ edit</a>
        </div>
    </section>

    <div class="container">
        <div class="modal-plues-con" id="modal-plues-con">
            <div class="modal-plues" id="modal-plues">
                <div class="pluse-con">
                    <form id="form" class="form" method='POST'>
                        <nav>
                            <ul>
                                <li>
                                    <div class="form-control1 ">
                                        <label for="username ">first name</label>
                                        <input type="text" name="Fname" id="Fname" value="<%=user.F_name%>" placeholder="Enter first name" />
                                        <small>Error message</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control1 ">
                                        <label for="username ">first name</label>
                                        <input type="text" name="Mname" id="Mname" value="<%=user.M_name%>" placeholder="Enter middle name" />
                                        <small>Error message</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-control1">
                                        <label for="username">last name</label>
                                        <input type="text" id="Lname" name="Lname" value="<%=user.L_name%>" placeholder="Enter last name" />
                                        <small>Error message</small>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div class="form-control1">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" value="<%=user.Email%>" placeholder="Enter email" />
                            <small>Error message</small>
                        </div>

                        <nav>
                            <ul class="popM">
                                <li class="popli ">
                                    <div class="form-control1 ">
                                        <label for="city ">city</label>
                                        <input type="text" id="city" name="city" value="<%=user.city%>" placeholder="Enter city " />
                                        <small>Error message</small>
                                    </div>
                                </li>
                                <li class="popli ">
                                    <div class="form-control1 ">
                                        <label for="DOB">DOB</label>
                                        <input type="date" id="DOB" name="DOB" value="<%=user.dateOfBirth%>" placeholder="Enter DOB " />
                                        <small>Error message</small>
                                    </div>
                                </li>
                            </ul>
                        </nav>

                        <nav>
                            <ul class="popM ">
                                <li class="popli ">
                                    <div class="form-control1 pop batch ">
                                        <label for="batch">batch</label>
                                        <%/*
                                  <select id="batch" name="batch">
                                    <option class="bat " value="E17">E17</option>
                                    <option class="bat " value="E18">E18</option>
                                    <option class="bat " value="E19">E19</option>
                                    <option class="bat " value="E20">E20</option>
                                  </select>
                                  */%>

                                            <select id="batch" name="batch">
                                    <%
                                    var options = ["E17", "E18", "E19", "E20" ];
                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                        var isSelected = ( user.batch == options[i] ) ? "selected" : "";
                                    %>  
                                        <option class="bat " value="<%=options[i]%>" <%=isSelected %>>
                                            <%= options[i] %>
                                        </option>
                                    <%
                                    }
                                    %>
                                </select>







                                    </div>
                                </li>
                                <li class="popli ">
                                    <div class="form-control1 pop ">
                                        <label for="department">department</label>


                                        <select id="department" name="department">
                                    <%
                                    var options = ["common", "com", "elec", "civil","mech" ];
                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                        var isSelected = ( user.department == options[i] ) ? "selected" : "";
                                    %>  
                                        <option class="bat " value="<%=options[i]%>" <%=isSelected %>>
                                            <%= options[i] %>
                                        </option>
                                    <%
                                    }
                                    %>
                                </select>





                                    </div>
                                </li>
                                <li class="popli ">
                                    <div class="form-control1 pop ">
                                        <label for="gender">gender</label>
                                        <div id="gender" class="gender">
                                            <div id="fi">
                                                <label for="male">Male</label>
                                                <% if(user.gender == "M"){ %>
                                                    <input type="radio" id="male" name="gender" checked="checked" value="M">
                                                    <% } else { %>
                                                        <input type="radio" id="male" name="gender" value="M">
                                                        <% } %>
                                            </div>

                                            <div id="se ">
                                                <label for="female">Female</label>
                                                <% if(user.gender == "F"){ %>
                                                    <input type="radio" id="female" checked="checked" name="gender" value="F">
                                                    <% } else { %>
                                                        <input type="radio" id="female" name="gender" value="F">
                                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>

                        <button type="submit">update</button>
                    </form>

                </div>
            </div>
        </div>
    </div>




















    <!-- partial:index.partial.html -->



    <!-- partial:index.partial.html -->
    <div class="updatepic">




        <right></right>
        <div class="modal fade account-page" id="modal_upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close hidden-xs" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title" id="myModalLabel">Upload profile picture</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 height-upload">
                                <input id="choose_file" type="file" name="choose_file" accept="image/*" />
                                <label class="label-choose-file" for="choose_file"><a class="upload-photo"><i class="fa fa-plus-circle fa-2x"></i>&nbsp;Upload photo</a></label>
                            </div>
                            <div class="col-sm-6 height-upload">
                                <input id="take_photo" type="file" name="take_photo" accept="image/*" />
                                <label class="label-choose-file" for="take_photo"><a class="take-photo"><i class="fa fa-camera fa-2x"></i>&nbsp;Take photo</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer visible-xs-block"><a data-dismiss="modal">Cancel</a></div>
                </div>
            </div>
        </div>
        <div class="modal fade account-page" id="modal_crop_image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"><a class="pull-left visible-xs" id="btnCancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                        <h5 class="modal-title visible-xs-inline-block" id="myModalLabel">Upload profile picture</h5>
                        <h5 class="modal-title hidden-xs">Crop photo</h5><a class="pull-right visible-xs" id="btnSet" data-dismiss="modal" aria-label="Close">Set</a>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 max">
                                <div class="crop-container">
                                    <div class="hidden-xs" id="drag__reposition"><i class="fa fa-arrows"></i><span> Drag to Reposition</span></div>
                                    <div class="imageBox">
                                        <div class="thumbBox"></div>
                                        <div class="spinner" style="display: none">Loading...</div>
                                    </div>
                                    <div class="range__zoom--inner hidden-xs"><a id="btnZoomOut">-</a>
                                        <input class="hidden-xs" id="range_zoom" type="range" min="0" max="9" value="0" /><a id="btnZoomIn">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"><span class="visible-xs-inline-block">Move and Scale photo to fit</span>
                        <button class="btn btn-gray btn-sm hidden-xs" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-base btn-sm hidden-xs" id="btnSet_desktop" data-dismiss="modal" aria-label="Close">Set image</button>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='https://use.fontawesome.com/8decb1aa86.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js'></script>


    <script src="./update.js"></script>
    <script src="./updatepic.js"></script>


</body>

</html>